<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 Education</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://scontent.fvca1-4.fna.fbcdn.net/v/t1.6435-9/240484923_3058373401072563_5910936592627043515_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=yf5d1x9igtkAX-HImX-&_nc_ht=scontent.fvca1-4.fna&oh=b26ee241dbed184f200458022637ef91&oe=61ABB43E" class="user-avatar">
          Phong Nè
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
          <a class="dropdown-item" href="/news/create">Đăng bài viết</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/stored/courses">Khóa học đã lưu</a>
          <a class="dropdown-item" href="/me/stored/news">Bài viết đã lưu</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>