<div class="mt-4">
    <form method="post">
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Nhập từ khóa....">
            <br><select name="gender" id="">
                <option value="">Chọn giới tính</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Go</button>
    </form>
</div>